
 <div class="frame">
    <div class="center">
      <div class="profile">
        <div class="photo">
          <div class='image'>
          <img src="https://source.unsplash.com/70x70/?face" alt="avatar photo">
      
          <div class="circle"></div>
                </div>
          <p class="name">Username Here</p>
          <p class="jobTitle">Location Here</p>
        </div>
        <div class="buttons">
          <button class="btn">Edit</button>          
          <button class="btn">Logout</button>
        </div>
      </div>
      <div class="stats">
        <div class="box">
          <span class="value">523</span>
          <span class="parameter">Ideas</span>
        </div>
        <div class="box">
          <span class="value">1387</span>
          <span class="parameter">Likes given</span>
        </div>
        <div class="box">
          <span class="value">146</span>
          <span class="parameter">Likes taken</span>
        </div>
      </div>
    </div>
  </div>
