.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }

  .flex-container >div{
    width: 400px;
    height:500px;
    
  }

  .swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-wrapper{
  padding-left: initial;
  margin: 0;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 80%;
    border-right: 1px solid black;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


