<!-- <div class="flex-container">
  <div class="card card-cascade">
  
    <div class="view view-cascade overlay">
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <div class="card-body card-body-cascade text-center">
      <h4 class="card-title"><strong>Burger</strong></h4>
      <h6 class="font-weight-bold indigo-text py-2">Godziny</h6>
      <p class="card-text">Miejsce: Śródmiescie
      </p>
    </div>
  </div>
</div> -->




<div class="flex-container">
<div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">
  <div class="box-title">Swiper</div>

  <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
    <swiper *ngIf="type == 'component' && show" class="swiper-container" fxFlex="auto" [config]="config" [disabled]="disabled">
      <div *ngFor="let slide of slides" class="swiper-slide">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
          {{slide}}
        </div>
      </div>
    </swiper>

    <div *ngIf="type == 'directive' && show" class="swiper-container" [disabled]="disabled" [swiper]="config" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
      <div class="swiper-wrapper">
        <div *ngFor="let slide of slides" class="swiper-slide">
          <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
            {{slide}}
          </div>
        </div>
      </div>

      <div class="swiper-scrollbar" [hidden]="config.scrollbar === false"></div>
      <div class="swiper-pagination" [hidden]="config.pagination === false"></div>

      <div class="swiper-button-prev" [hidden]="config.navigation === false"></div>
      <div class="swiper-button-next" [hidden]="config.navigation === false"></div>
    </div>
  </div>
</div>
</div>
<!-- Card Regular -->

<!-- https://github.com/zefoy/ngx-swiper-wrapper -->